@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171717;
  --blue: #023D79;
  --grey: #dee2e6;
  --yellow: #FFEA30;
  --lightYellow: #FFFACD; 
}

body {
  color: var(--black);
}
